@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply container bg-neutral-100 dark:bg-slate-800 dark:text-slate-300 dark:transition-all;
  height: auto;
  min-height: 100vh;
}

#wrapper {
  @apply max-w-screen-lg;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 120px;
}

header,
nav,
h1,
h2,
h3,
h4,
.title {
  @apply text-sky-900 dark:text-white;
}

h3 {
  @apply font-mono text-lg font-extrabold;
}

footer {
  height: 100px;
  position: relative;
  transform: translateY(-100%);
  text-align: center;
  margin: 0 auto;
}

footer > *,
footer > * > * {
  margin: auto;
  padding: 2px;
}

.menuLink:hover {
  @apply text-indigo-300 font-semibold ease-in-out duration-300;
}

.clicked {
  @apply text-indigo-300 font-bold;
}

.link {
  @apply cursor-pointer hover:underline hover:underline-offset-4 hover:text-blue-600;
}

.tags {
  @apply px-2 py-1 bg-violet-200 px-2 py-1 rounded-full dark:bg-violet-300 dark:text-black;
}

.link-box > a {
  display: inline-flex;
  margin: 0 3px;
}

.project-thumbNail {
  object-fit: cover;
}

.mdxstyle > * {
  margin: 20px 0;
}
.mdxstyle > * > * {
  margin: 10px 0;
}

.mdxstyle a {
  color: cornflowerblue;
}

.mdxstyle a:hover {
  color: #bb8395;
  text-decoration: underline;
}

.mdxstyle h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.mdxstyle h2 {
  font-size: 1.4em;
  font-weight: 600;
}

.mdxstyle h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.mdxstyle ul {
  padding-left: 30px;
  list-style-position: outside;
}

.mdxstyle li {
  list-style: circle;
}

.mdxstyle ol {
  padding-left: 30px;
  list-style-position: outside;
}

.mdxstyle ol > li {
  list-style: decimal;
}

.mdxstyle hr {
  height: 1px;
  background-color: #cacaca;
  border: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply bg-white dark:bg-zinc-900;
  @apply text-slate-900 dark:text-slate-300;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fbf1c7;
  background: #7c6f64;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

code {
  @apply px-1 py-1 bg-stone-200 dark:bg-stone-600 text-red-600 dark:text-red-400;
  border-radius: 7px;
  /* padding: 3px 6px;
  background-color: #e0e0e0;
  color: #d95755;
  border-radius: 5px; */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply border border-solid border-sky-800 dark:border-sky-100;
  border-radius: 7px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  font-size: 14px;
}

.token {
  font-size: 14px;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #808b97;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #ff7b79;
}

.token.operator,
.token.punctuation,
.token.attr-name {
  @apply text-slate-900 dark:text-slate-300;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #15a5cf;
}

.token.entity,
.token.number,
.token.symbol {
  color: #59c0ff;
}

.token.string,
.token.char {
  color: #ffa657;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984;
}

.token.url {
  color: #c0edf6;
  text-decoration: underline;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984;
}

.token.deleted {
  background: #bb8395;
}

.code-line {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  @apply text-slate-900 dark:text-slate-200;
}

.rehype-code-title {
  @apply text-slate-900 dark:text-slate-200;
  @apply bg-white dark:bg-zinc-900;
  @apply border border-solid border-sky-800 dark:border-sky-100;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px 16px;
  font-weight: 700;
  margin-top: 8px;
  font-size: 14px;
}

.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  font-size: 14px;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.3); /* Set highlight bg color */
  border-left-width: 4px;
  font-size: 14px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
